language: php

sudo: false

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - 7.0

before_install:
    - composer self-update

install:
    - composer install --prefer-dist --no-progress --no-interaction

script:
    - composer test
