language: php

php:
    - 7.1
    - 7.2
    - 7.3
    - 7.4
    - 8.0
    - 8.1
    - 8.2
    - 8.3
    - 8.4
    - 8.5

before_install:
    - composer self-update

install:
    - composer install --prefer-dist --no-progress --no-interaction

script:
    - composer test
